/*
Error: Invalid CSS after "@media screen and ": expected media expression (e.g. (min-device-width: 800px)), was "max-width 55em {"
        on line 41 of /Users/didiergabiam/Projects/pushnplay/public/assets/scss/style.scss

36: .cbp-af-header nav a{color:#aaa;font-weight:700;font-size:1.4em;margin:0 0 0 20px}
37: .cbp-af-header nav a:hover{color:#333}
38: .cbp-af-header.cbp-af-header-shrink{height:90px}
39: .cbp-af-header.cbp-af-header-shrink h1,.cbp-af-header.cbp-af-header-shrink nav a{line-height:90px}
40: .cbp-af-header.cbp-af-header-shrink h1{font-size:2em}
41: @media screen and max-width 55em {
42: .container > header h1,.container > header nav{float:none}
43: .container > header > span,.container > header h1{text-align:center}
44: .container > header nav{margin:0 auto}
45: .container > header > span{text-indent:30px}
46: .main section p{font-size:1.4em;padding:2em 5%}

Backtrace:
/Users/didiergabiam/Projects/pushnplay/public/assets/scss/style.scss:41
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1081:in `expr!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:438:in `media_query'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:406:in `media_query_list'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1079:in `expr!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:401:in `media_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:219:in `special_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:194:in `directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/usr/bin/compass:23:in `load'
/usr/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@media screen and \": expected media expression (e.g. (min-device-width: 800px)), was \"max-width 55em {\"\A         on line 41 of /Users/didiergabiam/Projects/pushnplay/public/assets/scss/style.scss\A \A 36: .cbp-af-header nav a{color:#aaa;font-weight:700;font-size:1.4em;margin:0 0 0 20px}\A 37: .cbp-af-header nav a:hover{color:#333}\A 38: .cbp-af-header.cbp-af-header-shrink{height:90px}\A 39: .cbp-af-header.cbp-af-header-shrink h1,.cbp-af-header.cbp-af-header-shrink nav a{line-height:90px}\A 40: .cbp-af-header.cbp-af-header-shrink h1{font-size:2em}\A 41: @media screen and max-width 55em {\A 42: .container > header h1,.container > header nav{float:none}\A 43: .container > header > span,.container > header h1{text-align:center}\A 44: .container > header nav{margin:0 auto}\A 45: .container > header > span{text-indent:30px}\A 46: .main section p{font-size:1.4em;padding:2em 5%}"; }
