/* Style de bienvenue lors de l'inscription  */
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal; }

body {
  background: transparent; }

header {
  padding: 0.1em 0.5em; }
  header h1 {
    margin: 0.2em; }

#wrapper {
  width: 960px;
  margin: 40px auto;
  box-shadow: 0 0 2px #888; }

.hero-unit {
  margin-top: 1em;
  padding-bottom: 1em; }
  .hero-unit h2 {
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0 0 0.5em 0; }
  .hero-unit p {
    padding: 0 1em 1em 1em;
    margin: 0;
    line-height: 1.4;
    font-size: 1.2em; }
  .hero-unit a {
    color: #44b6db;
    text-decoration: none; }
