@import 'compass';
@import 'zen';
@import 'ressource';
// @import 'normalizemin';
// @import 'fontello';
// @import 'jqueryui';
// @import 'pureall';


html{
  height: 100%;
}

body {
  font: 16px Lato,'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #eeece4;
  background-image: none;
}

a{
  text-decoration: none;
  color: #fff;
}

h1, h2, h3,p,span, label{
  margin-top: 0;
  font-weight: normal;
  color: #fff;
}

ul{
  padding: 0;
  li{
    list-style-type: none;
  }
}

#top{
  height: 3em;
  img{
    max-height: 33px;
    padding: 0.2em 0;
  }
}
header {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;

  -moz-box-shadow: 0 1px 1px #888888;
  -webkit-box-shadow: 0 1px 1px #888888;
  box-shadow: 0 1px 1px #888888;
  margin-bottom: 2em;
  margin-top: 0;
  text-shadow: 0 1px 1px #888888;
  h1 {
    float: left;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0.5em;
    box-sizing: border-box;
    font-weight: normal;
    text-transform: uppercase;
  }
  nav {
    box-sizing: border-box;
    float: left;
    width: 70%;
    height: 100%;
    margin: 0;
    li {
      display: inline-block;
      line-height: 1.5em;
      margin: 0.3em;
      -webkit-transition: .5s all;
      -webkit-transition-delay: 5s;
      -moz-transition: .5s all;
      -moz-transition-delay: 5s;
      -ms-transition: .5s all;
      -ms-transition-delay: 5s;
      -o-transition: .5s all;
      -o-transition-delay: 5s;
      transition: .5s all;
      transition-delay: 5s;
    }
  }
}
#main-menu {
  float: left;
  width: 50%;
  margin: 0;
  padding-left: 0;
  text-align: center;
}
#login {
  float: right;
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  margin: 0;
  padding: 0 1em 0 0;
}
#main{
  margin: 4em 1em 2em;
  clear: both;
}
.wrapper{
  margin-top: 0;
}

.container{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  //background-color: rgba(255,255,255,0.5);
  -moz-box-shadow: 0 1px 1px #000;
  -webkit-box-shadow: 0 1px 1px #000;
  box-shadow: 0 1px 1px #000;
  .error{
    color: yellow;
    background-color: red;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0.5em;
  }
}
.content-box{
  clear: both;
  background-color: #fff;
  color: #888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-sizing: border-box;
  h3{
    background-color: #f1f1f1;
    color: #888;
    padding: 0.5em;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin: 0;
  }
  .nothing{
      font-size: 2em;
      text-align: center;
      padding: 0.5em;
      color: #aaa;
  }
}
.usernameclass{
  color: #fff !important;
}
.success{
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.5em;
  text-align: center;
    color: #58b258;
  p{
      color: #58b258;
  }
}
// .error{
//   padding: 0.5em;
//   color: red;
// }
.centered{
  width: 60%;
  height: 24em;
  margin: auto;
}

#loginform, #registerform{
  width: 55%;
  margin: 0;
  box-sizing: border-box;
  float: right;
  p{
    margin: 0.5em 0;
  }
  label{
    display: block;
    width: 55%;
    float: left;
    padding: 0.5em 0;
  }
  input{
    color: #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
    padding: 0.5em;
  }
}
.submission{
  text-align: right;
  input{
    width: 50%;
    background-color: #58b258;
    color: #fff !important;
  }
}

#socialconnect{
  width: 45%;

  float: left;
  ul{
    margin-top: 0;
  }
  li{
    display: block;
    width:62%;
    margin-bottom: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0.5em 0;
    a{
        display: block;
        width: 100%;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 0.6em;
    }
  }
}

#tw_login_link
{
  margin-bottom: 1em;
  a{
    background-color: #4099FF;
  }
}

#fb_login_link{
  margin-bottom: 1em;
   a{
    background-color: #3B5998;
  }
}

#ggl_login_link{
  margin-bottom: 1em;
  a{
    background-color: #db5a3c;
  }
}

footer{
  clear: both;
  p{
    margin:1em 0;
    text-align: center;
    color: #000;
  }
}

// DASHBOARD
#dashboard h2{
  padding: 0.5em;
  color: #000;
}
#dashboard th span{
  color: #000;
}
#usermenu {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  padding-left: 0;
  text-align: right;
  margin-top: 0.2em;
  .button-error{
    padding: 0.5em;
  }
}
#HeaderLogin {
  text-align: right;
  background-color: rgba(0,0,0,0.5);
}
#HeaderLogin ul {
  padding-left: 0;
}
#usermenu li .account {
  display: none;
}
#usermenu li:hover .account {
  display: block;
  width: 180px;
}
.user-info {
  margin: 0 0 0.8em 0;
}
.user-info li {
  height: 1em;
}
.user-info a {
  display: block;
  width: 100%;
  font-size: 0.8em;
  &:hover{
    background-color: rgba(255,255,255,0.5);
  }
}

.userpict{
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  margin: 0;
        padding-top: 1em;
  img{
      width: 8em;
      height: 8em;
      background-color: #fff;
      padding: 0.1em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
}

.leftcontent{
    width: 20%;
    margin: 0;
    float: left;
}

.rightcontent{
  width: 80%;
  margin: 0;
  float: right;
  background-color: rgba(255,255,255,0.7);
  box-sizing: border-box;
  color: #000;
  label{
     color: #000;
  }
}


.userlinks{
  margin: 0;
  h3{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding:0 1em 0.5em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  li{
    background-color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1em;
    a{
        display: block;
        padding: 1.3em;
        text-shadow: none;
        color: #fff;
        &:hover{
          background-color: rgba(0,0,0,0.3);
        }
    }
    &:last-child{
          border-bottom: none;
    }
  }
}

#stats{
  width: 90%;
  margin: 1em auto;
  caption h1{
    color: #aaa;
    margin: 1em 0;
  }
  th{
    text-align: left;
    padding: 0.5em;
    &{
      background-color: #ddd;
    }
  }
  tr{
    margin: 0.5em 0;
    border: 1px solid #ddd;
  }
  td{
    padding: 0.5em;
  }
}

#dashboardmain{
  @include zen-clear();
  margin: 4em 0 2em;
  clear: both;
}

#profilepictform{
  width: 40%;
  float:left;
  label{
    width: auto;
  }
  input{
    clear: both;
  }
}

#submitprofilepict{
  width: auto;
    padding: 0.5em;
    background-color: #589fc3;
    color: #fff;
    border: none;
    &:hover{
      background-color: #408cb2;
    }
  }


#userpicture{
    padding: 2em 2em 2em 0;
  }

.userprofilepict{
  width: 60%;
  float: left;
  text-align: left;
  img{
    max-width: 250px;
    max-height: 250px;
  }
  .progress{
    width: 38%;
    margin-left: 0;
  }
}

.formcontainer{
  box-sizing: border-box;
  padding: 1em;
  clear: both;
}

.bloc{
  clear: both;
  margin: 1em 0;
  label{
    margin-top: 0;
    display: block;
    width: 40%;
    float: left;
  }
  input{
    //width: 30%;
  }
}

#profilesavebutton{
  margin-bottom: 1em;
  input{
    padding: 1em;
    background-color: #45983e;
    color: #fff;
    border: none;
    font-size: 1.1em;
    &:hover{
      background-color: #52b54a;
    }
  }
}
#submitnewpodcast, .submissionbtnok{
  margin: 1em 0 0 0;
    padding: 0.5em;
    background-color: #45983e;
    color: #fff;
    border: none;
    font-size: 1.1em;
    &:hover{
      background-color: #52b54a;
    }
}
.cancellingbtn{
  margin: 1em 0 0 0.5em;
    padding: 0.5em 1em;
    background-color: #FF030D;
    color: #fff;
    border: none;
    font-size: 1.1em;
    &:hover{
      background-color: #FC5C63;
    }
}
.podcastdeletion, .photodeletion, .videodeletion, .deletion, .removefriend{
  color: red;
  span{
    color: red;
  }
}

.addnew{
  color: green;
}

.editing{
  color: #45983e;
  span{
    color: #45983e;
  }
}

#footer-container{
    height: 4.5em;
    clear: both;
}

.credits{
    text-align: center;
    margin: 0.5em 0 0 0;
}

#sociallinks{
  margin: 0;
}

.ui-datepicker-trigger{
  margin-left: 0.5em;
}
#main-container{
    margin: 0 auto -4.5em !important;
}

////////////
// FLASH MESSAGES
////////////
.flash-message{
    padding: 1em;
}
.flash-success{
    background-color: #52b54a;
    color: #fff;
}

.flash-info{
    background-color: #006ae3;
    color: #fff;
}

.flash-alert{
    background-color: red;
    color: yellow;
}
#userGenre{
  margin-left: 20%;
  li{
    display: inline-block;
    margin: 0 0 1em 0.5em;
  }
  span{
    color: red;
    font-weight: normal;
  }
}

.friend{
  display: inline-block;
  margin: 1em;
  p{
    text-align: center;
    font-size: 1.2em;
    a{
      float: none;
    }
  }
}

#adminloginform{
  width: 20%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  label{
    color: #000;
  }
}

#usersinadmin{
  width: 100%;
  margin: 0 auto;
  label{
    color: #000 !important;
  }
}

.addnewcontainer{
  a{
    margin: 1em 34%;
  }
}

#userphotos, #uservideos{
  li{
    display: inline-block;
    width: 15%;
    margin: 1em;
  }
}
.options{
  font-size: 85%;
}
.right{
  float: right;
}
.warning{
  text-transform: uppercase;
  color: red;
}
.progress {
  position: relative;
  width: 90%;
  margin: 10px auto;
  border: 1px solid #DDD;
  padding: 5px;
  border-radius: 3px;
  display: none;
}
.bar{
  background: #008DE6;
  height: 20px;
  width: 0%;
  /* transition animation */
  -webkit-transition: width .3s;
    -moz-transition: width .3s;
      transition: width .3s;

}
.percent {
  position: absolute;
  display: inline-block;
  top: 6px;
  left: 48%;
  color: #333;
}
#activityboard{
  padding: 0 1em 1em 1em;
  height: 27em;
  overflow-y: scroll;
}
.activityclass{
  margin: 0.8em 0.5em;
  .icon-headphones, .icon-download{
    color: grey;
  }
.icon-pencil{
  color: #008DE6;
}
}

.edition{
  color: #008DE6;
}
.cancelling{
  color: red;
}
.adding{
  color: green;
}
.favoriting{
  color: orange;
}

#userEvents{
  margin: 1em 2em;
}

.preview-button{
  background-color: #408cb2;
  color: #fff;
  padding: 0.5em;
  border: none;
}
.genre{
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em;
  p{
    color: #000;
    margin-bottom: 0.2em;
  }
  a{
    font-size: 70%;
    color: red;
  }
}
.event-ticket a{
  padding: 0.35em;
}

.actualDate{
  margin-left: 1.5em;
  color: red;
  font-style: italic;
}

#userEvents tr{
  border-bottom: 1px solid #ddd;
}

.deldes{
  padding-left: 1em;
  a{
    display: inline-block;
    margin-right: 2em;
  }
}

#disableaccount{
  background-color: #aaa;
  padding: 1em;
  color: #FFFFFF;
  &:hover{
    opacity: 0.8;
  }
}

#deleteaccount{
  background-color: red;
  padding: 1em;
  color: #FFFFFF;
  &:hover{
    opacity: 0.8;
  }
}

//===== MEDIA QUERIES

@media only screen and (max-width: 480px) {

}
