@import 'compass';
@import 'zen';
@import 'newressource';
// @import 'normalizemin';
// @import 'fontello';
// @import 'jqueryui';
// @import 'pureall';

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    overflow-y: scroll;
}

body{
    font: 400 14px/24px 'Open Sans', Helvetica, Arial, sans-serif;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: fixed;
}

// RESET
ul, ol{
    padding: 0;
}
li{
     list-style-type: none;
}

a{
    text-decoration: none;
    color: #3b8ed8;
}
img{
    max-width: 100%;
}
// Sticky footer
html, body {
    height: 100%;
}

ol{
    border-radius: 2px;
}
$zen-column-count: 8;
$zen-gutter-width: 10px;


// Pure Custom

    .button-success,
        .button-error,
        .button-warning,
        .button-secondary,
        .button-disable{
            color: white;
            border-radius: 2px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
        .button-disable {
            background: rgb(219, 219, 219); /* this is a light grey */
        }

.container {
 @include zen-grid-container;
 width: 96%;
 margin: 0 auto;
 border-radius: 2px;
}

#header-container, #main-container, #footer-container, .clearfix{
     @include zen-clear();
}
////////////
// HEADER
////////////
#header-container{
   background-color : rgba(0,0,0,0.2);
   //color: #31a4d9;
   color: #fff;
   border-bottom: 1px solid rgba(255,255,255,0.1);
   width: 100%;
   position: fixed;
   top: 0;
}
#logo{
    @include zen-grid-item(1, 1);
    font-size: 1.5em;
    padding: 0.2em 0;
    a{
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
    }
}
#topsearch{
  float: left;
  margin-left: 15.5%;
  margin-right: -37.5%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  text-align: center;
  padding: 1em 0;
}
#topmenu{
    float: left;
    margin-left: 37.5%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    background: none;
    padding: 1em 0;

    ul{
        padding-bottom: 0.5em;
    }
    a{
        color: #fff;
        padding: 0.357em 1.429em;
        &:hover{
            background-color : rgba(255,255,255,0.3);
            color: #fff;
            border-radius: 2px;
        }
    }
    .recrute{
        margin-left: 0.26em;
    }
    .pure-button-primary{
        margin: 0 0.5em 0 1.5em ;
        padding: 0 !important;
    }
    section{
        box-sizing: border-box;
        padding: 0 !important;
        a{
            padding: 0.5em;
        }
    }
    #usermenu{

        .pure-button-primary a{
            padding-left: 0.5em;
            padding-right: 1em;
        }
        .button-error:hover{
            background-color: #e75252;
        }
    }
}

////////////
// MAIN
////////////
#main-container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
  margin-top: 6em;
}
.joinus{
    border-radius: 2px;
    background-color: rgba(0,0,0,0.2);
    padding-top: 0.5em;
    margin-top: 6em;
    text-align: center;
    section{
      color: #FFFFFF;
      float: left;
      font-size: 2.2em;
      margin: 0.4em 0.5em;
      line-height: 1.4;
    }
    button{
        margin: 0.5em 0.5em 1em 0.5em;
        font-size: 1.6em;
    }
    a{
        color: #fff;
    }
}

#topsearchform{
  color: #000000;
}

.featured{
    background-color: rgba(0,0,0,0.2);
    color: #000;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 2px;
    margin-top: 1em;
    clear: both;
    .bigtitle{
      padding: 0.5em;
      border-radius: 2px;
      color: #FFFFFF;
    }
}

.bigtitle{
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 2px;
    padding: 0.5em;
    span{
        font-size: 0.6em;
        font-weight: normal;
        margin-left: 0.5em;
        margin-right: 1em;
    }
}


.featuredj{
    display: block;
    width: 22.85%;
    float: left;
    margin: 1%;
    border-radius: 2px;
    .icon-headphones{
        display: none;
        position: absolute;
        //padding: 10.5% 8%;
        box-sizing: border-box;
        font-size: 4em;
        background-color: rgba(0,0,0,0.2);
        color: #fff;
        border-radius: 2px;
        width: 21.5%;
        height: 5.4em;
        text-align: center;
        padding-top: 2em;
    }
    img{
        width: 500px;
        border-radius: 2px;
    }
}

.featuredj:hover .icon-headphones{
    display: block;
}

.djmetainfos{
    height: 4em;
    margin-top: -1em;
    box-sizing: border-box;
    border-radius: 0 0 2px 2px;
    padding: 0.5em;
    background-color: #0078e7;
    color: #fff;
    a{
        color: #fff;
    }
}

.djname{
    margin: 0;
    color: #fff;
}

.contentwithsidebar{
    background-color: rgba(0,0,0,.2);
    width: 100%;
    color: #fff;
    margin-top: 1em;
    padding: 2em;
    box-sizing: border-box;
    .prompt{
        margin-top: 0;
        padding-left: 0;
        a {
            font-weight: normal;
            margin-right: 1em;
        }
    }
    .bigtitle{
        margin-bottom: 0;
      background-color: rgba(0,0,0,.4);
      padding: 0.5em;
      border-radius: 2px;
        span{
            font-size: 1em;
            margin: 0;
        }
    }
}
#content{
    @include zen-grid-item(6, 1);
}
#sidebar{
    @include zen-grid-item(2, 7);
    padding-left: 1em;
    box-sizing: border-box;
    .bigtitle{
        margin-bottom: 0;
      background-color: rgba(0,0,0,.4);
      padding: 0.5em;
      border-radius: 2px;
    }
    .pure-table{
        li{
            display: block;
            height: 4em;
            clear: both;
            padding: 0.5em 0;
            border-bottom: 1px solid #eaeaea;
            &:hover{
                background-color: rgba(245,250,255,0.1);
            }
        }
    }
    .pair{
        background-color: rgba(245,250,255,0.2);
    }
    .chartnumber{
        width: 0.5em;
        font-size: 3em;
        color: #FFFFFF;
        padding: 0.3em 0.4em;
        float: left;
    }
    .chartpict{
        width: 5em;
        height: 3.8em;
        overflow: hidden;
        float: left;
        margin-right: 1em;
    }
    .charsectiondjname{
        font-size: 1.5em;
        a{
            color: #000;
        }
    }
    .djstyle{
        margin: 0.3em 0 0.1em 0;
    }
}

.bloc{
    margin: 2em 0 1em;
    .bigtitle{
      margin: 1em 0 0 0 !important;
      background-color: rgba(0,0,0,.4);
      padding: 0.5em;
      border-radius: 2px;
    }
    .recrute{
        font-size: 1.5em;
        line-height: 1.3em;
        box-sizing: border-box;
        padding: 0.5em 1em;
        background-color: #1cb841;
        color: #fff;
        border-radius: 2px;
        a{
            color: yellow;
        }
    }
}

#tags{
    li{
        display: inline;
        margin-right: 1em;
        a{
          color: #fff;
        }
        .smalltag{
            font-size: 0.82em;
        }
        .mediumtag{
            font-size: 1.42em;
        }
        .bigtag{
            font-size: 2em;
        }
    }
}

#newdjs{
    .chartpict{
        margin-left: 1em;
    }
}

#welcomechart{
    li{
        display: block;
        height: 5em;
        padding: 1em 0.5em;
        border-bottom: 1px solid #eaeaea;
        &:hover{
            background-color: rgba(245,250,255,0.2);
        }
        &:last-child{
            border: none;
            //padding:0;
            ul{
                padding: 1em 0.5em;
                background-color: rgba(245,250,255,0.1);
                text-align: center;
            }
            li{
                display: inline-block;
                margin: 0;
                &:last-child{
                    padding: 1em 0.5em;
                }
            }
        }
    }
    .pair{
        background-color:rgba(245,250,255,0.4);
        &:hover{
          background-color: rgba(245,250,255,0.2);
        }
    }
    .chartnumber{
        width: 1.5em;
        font-size: 3em;
        color: #FFFFFF;
        padding: 0.5em;
        float: left;
    }
    .chartpict{
        width: 5em;
        float: left;
        margin-right: 1em;
    }
    .charsectiondjname{
        font-size: 2em;
        a{
            color: #000;
        }
    }
    .djstyle{
        margin: 0.3em 0 0.1em 0;
      a{
        color: #FFFFFF;
      }
    }
    .playbutton{
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: #0078e7;
        margin-left: 13.5em;
        text-align: center;
        a{
            color: #fff;
            height: 2em;
            line-height: 2em;
            &:hover{
                color: yellow;
            }
        }
    }
}
#email, #password, #password_confirmation{
  color: #000000;
}
#signformcontainer{
    width: 70%;
    margin: 6em auto;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    .top{
        padding: 2.571em 4.286em 2.143em;
    }
    .formtitle{
        font-size: 1.5em;
    }
    .socialconnect{
        width: 32%;
        float: left;
        li{
            border-radius: 2px;
            margin-bottom: 1em;
            a{
                border-radius: 2px;
                display: block;
                padding: 0.8em;
                color: #fff;
                &:hover{
                    opacity: 0.9;
                }
            }
        }
        span{
            font-size: 1.2em;
        }
    }
    .or{

        float: left;
        padding: 5.5em 2em;
        margin-top: 1em;
        span{
            padding: 0.429em;
            font-size: 2em;
            color: #aaa;
        }
    }
    .formcontainer{
        width: 53%;
        float: right;
        margin-top: 1em;
        border-box: box-sizing;
        .formfield{
            width: 100%;
            clear: both;
            border-box: box-sizing;
            margin-bottom: 1em;
        }
        .labelfield{
            width: 40%;
            float: left;
            padding: 0.5em 0;
            label{
                font-size: 1.5em;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
        .inputfield{
            input{
                width: 54%;
                border: 1px solid #b9c1c7;
                padding: 0.8em;
                border-radius: 2px;
              color: #000;
            }
        }
        .submitfield{
            input{
                margin-left: 40%;
                width: 59.5%;
                padding: 0.8em;
            }
        }
        .checklabel{
            float: left;
            text-align: right;
            margin-right: 1em;
            margin-left: 65%;
        }
        .checkfield{
            text-align: right;
        }
        .forgot{
            text-align: right;
            margin-top: -1em;
            a{
                margin-left: 2em;
                color: #fff;
            }
        }
        .alreadysign{
            text-align: right;
            a{
                color: #fff;
            }
        }
    }
}

#userRole, #userRole option{
  width: 59%;
  font-size: 1.8em;
  text-transform: uppercase;
  //background: white;
  border: 1px solid #ddd;
  color: #aaa;
  border-radius: 2px;
  border: 0;
  -webkit-appearance: none;
  padding: 0.3em 0.5em 0.3em 0.3em;
  background: url('../img/selectArrow.jpg') no-repeat right #fff;
}

.fullformcontainer{
    width: 100%;
    margin-top: 1em;
        .formfield{
            width: 75%;
            clear: both;
            float: left;
            border-box: box-sizing;
            margin: 0 0 3em 0;
        }
        .labelfield{
            width: 40%;
            float: left;
            padding: 0.5em 0;
            label{
                font-size: 1.5em;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
        .inputfield{
            input{
                width: 54%;
                border: 1px solid #b9c1c7;
                padding: 0.8em;
                border-radius: 2px;
            }
        }
        .submitfield{
            width: 25%;
            float: right;
            input{
                padding: 0.8em;
            }
        }
}

.firstlogin{
    width: 70%;
    margin: 2em auto;
    .formfield{
        margin-bottom: 0.5em;
    }
    .labelfield{
        width: 45%;
    }
    .inputfield{
        width:55%;
        float: right;
        input{
            width: 100%;
        }
    }
     .submitfield{
        width: 79.5%;
        float: none;
        text-align: right;
     }
}
.rememberfield{
    width: 83%;
    .checklabel{
        margin-right: 0.5em;
        margin-left: 65.5%;
        float: left;
    }
}

.success{
    //color: rgb(28, 184, 65);
    color: #DAFF15;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 300;
    margin-top: 0;
}

#fblogin{
    background-color: #4568b2;
}

#twlogin{
    background-color: #2cc5ff;
}

#gllogin{
    background-color: #dd4b39;
}

#maincontent{
    margin-top: 1em;
}

.djprofilecontainer{
    @include zen-grid-item(8, 1);
    border-radius: 2px;
    margin-top: 6em;
    box-sizing: border-box;
    padding: 1em;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    h2{
        background-color: rgba(255, 255, 255, 0.3);
        padding: 0.5em;
        border: 1px solid rgba(255,255,255,0.3);
        border-radius: 2px;
    }
}
.profilepict{
    float: left;
    //width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    img{
      border-radius: 2px;
    }
}
.profileheaderinfo{
    float: left;
    //width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    color: #fff;
    h1{
        margin-top: 0.2em;
        font-size: 3em;
        font-weight: 400;
        text-transform: uppercase;
    }
    a{
        font-weight: normal;
        color: #333;
    }
    .pure-button-primary a{
      color: #fff;
    }
}
.profileevent{
    color: #fff;
    @include zen-grid-item(4, 5);
    table{
        width: 100%;
        border-radius: 2px;
    }
    h2{
        margin-top: 0;
        font-weight: normal;
        text-transform: uppercase;
        border-radius: 2px;
    }
    tbody{
        height: 4em;
        overflow: auto;
    }
    thead{
        background-color: rgba(0,0,0,.2);
    }
    th{
        color: #fff;
        background-color: rgba(0,0,0,0.2);
    }
    tr{
        background-color: rgba(0,0,0,0.2);
    }
    td{
        padding: 1em 0.5em;
    }
    .pure-table-odd{

        td{
            background-color: rgba(255,255,255,0.3);
        }
    }
    .button-secondary{
        padding: 0.5em 1em;
    }
    .event-place{
        width: 13em;
    }
    .event-ticket{
        width: 11.2em;
    }
}
.addbtncontainer
{
    button{
        padding: 1em 2em;
    }
}

.profilecontent{
    color: #fff;
    margin: 2em 0;
    .djbiography{
        @include zen-grid-item(4, 1);
        p{
            height: 23em;
            overflow: scrollbars-vertical;
            overflow: -moz-scrollbars-vertical;
            overflow: -o-scrollbars-vertical;
            overflow: -webkit-scrollbars-vertical;
            overflow-y: scroll;
        }
    }
    .podcasts{
        @include zen-grid-item(4, 5);
        margin-bottom: 2em;
    }
}

#djpodcasts{
    height: 23em;
    overflow: scrollbars-vertical;
    overflow: -moz-scrollbars-vertical;
    overflow: -o-scrollbars-vertical;
    overflow: -webkit-scrollbars-vertical;
    overflow-y: scroll;
    li{
        font-size: 1.3em;
        font-weight: 100;
        margin-bottom: 0.5em;
        padding: 0.5em;
        background-color: rgba(255,255,255,0.2);
        border-radius: 2px;
        span{
            display: inline-block;
        }
        &:hover{
            background-color: rgba(255,255,255,0.3);
        }
    }
    a{
        color: #fff;
        display: inline-block;
        width: 1.5em;
        height: 1em;
    }
    .icon-play{
        width: 5%;
    }
    .podcastitle{
        width: 30%;
    }
    .podcastduration{
        width: 13%;
    }
    .icon-heart-empty{
        width: 5%;
    }
    .icon-export{
        width: 5%;
    }

}
// .fb-share-button span iframe{
//     width: 100% !important;
// }
.gallery{
    h2{
        padding-left: 0.3em;
    }
    li{
        display: block;
        width: 22.85%;
        float: left;
        margin: 0.5%;
        padding: 0.5%;
        background-color: rgba(255,255,255,0.1);
        border-radius: 2px;
        img{
            width: 500px;
        }
        &:hover{
            background-color: rgba(255,255,255,0.2);
        }
    }
    .morepicts{
        a{
            font-size: 1.8em;
            padding: 5.7em 0;
            display: block;
        }
    }
}

.djvideos{
    margin: 3em 0 2em;
    p{
        text-transform: uppercase;
        color: #fff;
        margin-top: 0;
        height: 3em;
    }
    .morepicts {
        a{
            padding: 5.25em 0;
        }
    }
}

.djvideos p.nothing{
        text-transform: normal !important;
    }

#fullpodcasts{
    @include zen-grid-item(8,1);
    #djpodcasts{
        height: auto;
    }
}

.fans{
    li{
        display: block;
        width: 22.85%;
        float: left;
        margin: 0.5%;
        padding: 0.5%;
        background-color: rgba(255,255,255,0.1);
        text-align: center;
        .fanimage{
            height: 15em;
            overflow:hidden;
        }
        h3{
            font-size: 1.5em;
            margin: 0 0 0.5em 0;
            text-transform: uppercase;
        }
        p{
            margin: 0.5em 0;
        }
        &:hover{
            background-color: rgba(255,255,255,0.2);
        }
    }
    a{
        color: #fff;
    }

  .addbtncontainer{
    display: none;
  }
}

.pure-paginator{
margin: 1.5em 0;
    text-align: center;
    a{
        background-color: none;
    }
}

#djscontainer{
    margin-top: 6em;
    #djsearch{
        padding-left: 0.8em;
        margin-top: 1em;
    }
}

#djsearchbox{
    .bigtitle{
        margin: 0 0 0.5em 0;
      background-color: rgba(0,0,0,.4);
      padding: 0.5em;
      border-radius: 2px;
    }
    .fields{
        width: auto;
        float: left;
        label{
            margin-right: 0.5em;
        }
        margin-right: 2em;
    }
    input{
        border-radius: 2px;
        padding: 0.2em;
    }
    #filterbtn{
        padding: 0.5em 2em;
    }
}

    .djitemlist{
        display: block;
        width: 23%;
        float: left;
        margin-right: 1em;
        margin-bottom: 2em;
        border-radius: 2px;
        .icon-play{
            display: none;
            position: absolute;
            padding: 7.8% 5.3%;
            box-sizing: border-box;
            font-size: 4em;
            background-color: rgba(0,0,0,0.2);
            color: #fff;
            border-radius: 2px;
        }
        img{
            width: 500px;
            border-radius: 2px;
        }
    }
.djitemlist:hover .icon-play{
    display: block;
}

.changelocation{
    float: right;
    margin-right: 1.2em;
}

.bigtitle .currentcity, .bigtitle .currentstyle{
    font-size: 1em;
    margin: 0;
}

////////////
// FLASH MESSAGES
////////////
.flash-message{
    padding: 1em;
}
.flash-success{
    background-color: #52b54a;
    color: #fff;
}

.flash-info{
    background-color: #006ae3;
    color: #fff;
}

.flash-alert{
    background-color: red;
    color: yellow;
}

////////////
// FOOTER
////////////
.push{
    height: 4em;
}

#footer-container{
    margin-top: 5em;
    margin-bottom: 0;
    height: 4em;
    color: #31a4d9;
    a{
        color: #31a4d9;
        text-decoration: none;
    }
    footer{
        background-color: rgba(255,255,255,0.2);
        color: #000;
        border-radius: 2px;
    }
}

.credits{
    text-align: center;
    padding: 1em;
    margin-bottom: 0;
}

#sociallinks{
    text-align: center;
    li{
        list-style-type: none;
        display: inline-block;
        margin: 0.5em 1em;
    }
}

#error404page{
    border-radius: 4px;
    padding: 2em;
    font-size: 2em;
    background-color: #fff;
    margin-top: 3em;
}
.error{
    background-color: red;
    padding: 0.5em;
    color: yellow;
}
.banneduser{
    padding: 1em;
    font-size: 2em;
    line-height: 1.4;
    a{
        color: #fff;
        font-weight: bold;
        text-decoration: underline;
    }
}
.bannedusername{
    font-weight: bold;
    color: yellow;
}
.breadcrum{
    margin: 0.4em;
    background-color: rgba(0,0,0,0.2);
    padding: 0.5em;
    color: #fff;
    a{
        color: #fff;
    }
    span{
        color: rgba(255,255,255,0.4);
    }
}
.fb-share-button span, .fb_iframe_widget span{
    height: 25px !important;
}

.high{
    margin-top: 6em;
}

.podcastview{
    margin: 1em 0;
    .podcastitle{
      display: block;
      font-size: 3em;
      padding-top: 0.2em;
      margin-bottom: 0.5em;
    }
    .podcastdj a{
      color: rgb(66, 66, 66) !important;
    }
    .likethis, .downloadthis, .playthis{
        display: inline-block;
        width: 5%;
    }
    .fb-share-button span, .fb_iframe_widget span{
        height: 25px !important;
        margin-left: 1em;
    }
}
#searchresult{
    width: 80%;
    margin: 6em auto;
    padding: 1em;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    .title{
        margin-top: 0;
    }
    li{
        font-size: 1.2em;
    }
    a{
        color: #fff;
    }
    em{
        font-weight: normal;
        font-size: 1em;
    }
    .nothing{
        font-size: 2em;
        line-height: 1.3em;
        span{
            color: yellow;
        }
    }
}

#singlestyledj{
    margin: 0.5em;
    li{
        width: 20%;
        float: left;
        margin: 0.5em 1em 0.5em 0;
        &:hover{
            opacity: 0.6;
        }
    }
    p{
        color: #fff;
        background-color: rgba(0,0,0,0.2);
        padding: 0.5em;
        margin-top: -0.5em;
        text-transform: uppercase;
        font-size: 1.4em;
        text-align: center;
    }
    .banned{
        text-align: center;
        color: yellow;
        font-size: 1em;
    }
}

.singlegenretag{
    padding: 1em;
    background-color: rgba(255,255,255,0.2);
    font-size: 1.5em;
    border-radius: 4px;
    text-align: center;
    margin: 0.35em;
}

.genretag{
    display:inline-block;
    background-color: rgba(255,255,255,0.2);

    margin: 1em 1.2em;
    font-size: 1.5em;
    border-radius: 4px;
    overflow: hidden;
    a{
        display: block;
        width: 100%;
        padding: 1em;
        color: #fff;
        &:hover{
            background-color: rgba(255,255,255,0.4);
            color: #0078e7;
        }
    }
}

#pull{
    display:none;
}

#allpodcasts{
  a{
    color: #fff;
  }
  li{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #383838;
    margin-top: 0;
  }
  .podcastimage{
    float: left;
    margin-right: 1em;
    img{
        width: 8em;
        height: 8em;
        border-radius: 2px;
    }
  }
  .podcastplayicon{
    float: left;
    height: 8em;
    margin-left: -1.5em;
    margin-right: 1.5em;
    .icon-play, .icon-pause{
      font-size: 5em;
      &:hover{
        color: rgba(255,255,255,.7);
      }
    }
    .playthis{
      display: block;
      height: 5em;
      width: 5.5em;
      padding: 1.5em 0.5em;
    }
  }
  .podcastinfos{
    margin-left: 15.5em;
    height: 8em;
  }
}

/* ==========================================================================
   PAGINATION
   ========================================================================== */

.pagination{
  text-align: center;
  color: #fff;
  margin: 2em 0;
  li{
      display: inline-block;
      margin: 1em 0.5em;
      border: 1px solid #d7d7d7;
      padding: 0 0.5em;
      a{
        color: #fff;
        display: block;
      }
    &:hover{
      background-color: rgba(0,0,0,0.3);
    }
  }
  .active{
    background-color: rgba(0,0,0,0.4);
  }
}




/* ==========================================================================
   PLAYER
   ========================================================================== */

.sm2-360ui {
  /* size of the container for the circle, etc. */
  width:50px;
  height:50px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
    #header-container{
        position: relative;
    }
    .joinus{
      display: none;
    }

    #logo, #topsearch, #topmenu{
        width: 100%;
        float: none;
        text-align: center;
        clear: both;
    }
    #topsearch{
        margin: 0 1em;
        padding-top: 0;
    }
    #usermenu{
      float: none;
      display: block;
    }
/* ====================
    INTERMEDIATE: Menu
   ==================== */
    #topmenu {
         border-bottom: 0;
         margin-left: 0;
         padding: 0.5em;
         background-color: rgba(255,255,255,0.2);
        ul,  section{
            display: none;
            height: auto;
        }
        ul{
            li{
                display: inline;
            }
        }
        section{
            background-color: rgba(255,255,255,0);
            a{

                padding: 0.2em;
            }
        }
        a#pull {
                display: block;

                position: relative;
                &:after {
                    content:"";
                    background: url('../img/nav-icon.png') no-repeat;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 5px;
                }
        }
    }

/* ========================
    Main Content
   ======================== */

   .featured{
    margin-top: 6em;
   }
   .featuredj{
    width: 46%;
    margin: 0.5em;
    .icon-headphones{
        width: 42%;
        height: 4.4em;
    }
   }
   #content, .recrute, .bloc{
    width: 100%;
    float: none;
   }
   #welcomechart .chartnumber{
    width: 1.5em;
   }
   #sidebar{
    display: none;
   }

    #main-container, #maincontainer{
        margin-top: 6em;
        .profileheader{
            margin: 1em 0.5em;
            padding: 0;
        }
        .profilepict, .profileheaderinfo, .profileevent, .profilecontent, .djbiography, .podcasts, .djgallery, .djvideos, .fans, .fans li{
            width: 100%;
            text-align: center;
        }
        .fans li{
          margin-top: 1.5em;
          margin-bottom: 1em;
          .fanimage{
            width: 100%;
          }
          section{
            float: none;
            margin-top: 1em;
          }
          p a{
            display: inline;
          }
          a{
            display: block;
          }
        }
        .profileheaderinfo, .profileevent, .podcasts{
            margin: 0;
        }
        .profileevent{
            table{
              border-radius: 2px;
            }
            tr{
                border-bottom: 1px solid #ddd;
            }
            td{
                padding: 0.5em 0.2em;
            }
            .button-secondary{
                font-size:  0.8em;
            }
        }
        #widget, iframe, .fb-share-button, .gplusshare{
            display: none;
        }
        .podcastitle{
            width: 60%;
        }
        #djpodcasts a{
            width: 2em;
        }
        .gallery li{
            width: 97%;
            margin: 0;
            padding: 0.5em;
        }
    }
    .or{
        display: none;
    }
    #signformcontainer{
        width: 100%;
        text-align: center;
        .top{
            padding: 0.5em 0.7em;
        }
        .socialconnect{
            width: 100%;
            li{
                margin: 1em auto;
                width: 60%;
            }
        }
        .formcontainer, .formcontainer .inputfield, .formcontainer .labelfield{
            width: 100%;
        }
        .submitfield, .formcontainer .forgot, .formcontainer .alreadysign{
            text-align: center;
        }
        #loginbtn{
            margin-left: 0;
            margin-top: 1em;
        }
    }
    .fullformcontainer, .fullformcontainer .formfield, .fullformcontainer .submitfield, .fullformcontainer .formfield .labelfield, .fullformcontainer .formfield .inputfield{
        width: 100%;
    }
    #singlestyledj li{
        width: 100%;
        text-align: center;
    }
/* ========================
    Screen between 480px and 768px
   ======================== */
}

@media only screen and (min-width: 480px) and (max-width: 768px) {

    #header-container{
        position: relative;
    }

    #logo, #topsearch, #topmenu{
        width: 100%;
        float: none;
        text-align: center;
        clear: both;
    }
    #topsearch{
        margin: 0 1em;
        padding-top: 0;
    }
    #usermenu{
      float: none;
      display: block;
    }
/* ====================
    INTERMEDIATE: Menu
   ==================== */
    #topmenu {
         border-bottom: 0;
         margin-left: 0;
         padding: 0.5em;
         background-color: rgba(255,255,255,0.2);
        ul,  section{
            display: none;
            height: auto;
        }
        ul{
            li{
                display: inline;
            }
        }
        section{
            background-color: rgba(255,255,255,0);
            a{

                padding: 0.2em;
            }
        }
        a#pull {
                display: block;

                position: relative;
                &:after {
                    content:"";
                    background: url('../img/nav-icon.png') no-repeat;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 5px;
                }
        }
    }
    .high, .joinus{
        display: none;
    }

    .featuredj{

        .icon-headphones{
            height: 3.8em;
            padding-top: 1em;
        }
   }
   #signformcontainer{
    width: 100%;
    margin-top: 1em;
    padding-bottom: 1.5em;
    .top{
        padding: 1em;
    }
    .socialconnect{
        width: 33%;
    }
    .or{
        display: none;
    }
    .formcontainer{
        width: 57%;
    }
   }
   .fullformcontainer .formfield{
    width: 100%;
    margin-bottom: 1em;
   }
   #loginbtn{
    margin-right: 1.4em;
    float: right;
   }
   .fullformcontainer .submitfield{
    margin-left: 35em;
   }
   .djprofilecontainer{
    margin-top: 0;
   }
   .profileheaderinfo{
     width: 100%;
     clear: both;
   }
   .profilepict{
       width: 100%;
       clear: both;
        margin-right: 1em;
     text-align: center;
   }
   .profileheaderinfo{
       width: 100%;
       clear: both;
        margin-left: 1em;
     text-align: center;
   }
   .profileevent{
    width: 100%;
    clear: both;
    margin-left: 0;
    tr{
        border-bottom: 1px solid #ddd;
    }
   }
    #widget, iframe, .fb-share-button, .gplusshare{
        display: none;
    }
    .gallery li{
      width: 100%;
      padding: 0;
      margin: 1em 0;
    }
    #singlestyledj{
        text-align: center;
        li{
          width: 100%;
          clear: both;
        }
    }
   .profilecontent, .profilecontent .djbiography, .profilecontent .podcasts, .djgallery, .djvideos{
    width: 100%;
    clear: both;
    text-align: center;
  }
  .fans li{
    width: 48%;
    float: left;
    margin-top: 1.5em;
    margin-bottom: 1em;
    .fanimage{
      width: 100%;
    }
    section{
      float: none;
      margin-top: 1em;
    }
    p a{
      display: inline;
    }
    a{
      display: block;
    }
  }
  .profilecontent .djbiography p{
    height: auto;
  }
  .profilecontent .podcasts{
    margin-left: 0;
    height: auto;
  }
/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */


/* ============
    WIDE: Main
   ============ */

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
