@import "normalize";
@import "purebase";
/* ==========================================================================
   FONTELLO
   ========================================================================== */
@font-face {
  font-family: 'pnp';
  src: url('../font/pnp.eot?83245395');
  src: url('../font/pnp.eot?83245395#iefix') format('embedded-opentype'), url('../font/pnp.woff?83245395') format('woff'), url('../font/pnp.ttf?83245395') format('truetype'), url('../font/pnp.svg?83245395#pnp') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pnp';
    src: url('../font/pnp.svg?83245395#pnp') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pnp";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-at:before {
  content: '\e82b';
}
/* '' */
.icon-home:before {
  content: '\e800';
}
/* '' */
.icon-pause:before {
  content: '\e805';
}
/* '' */
.icon-to-end:before {
  content: '\e806';
}
/* '' */
.icon-to-start:before {
  content: '\e807';
}
/* '' */
.icon-stop:before {
  content: '\e804';
}
/* '' */
.icon-play:before {
  content: '\e803';
}
/* '' */
.icon-star:before {
  content: '\e80a';
}
/* '' */
.icon-star-empty:before {
  content: '\e808';
}
/* '' */
.icon-heart-empty:before {
  content: '\e80b';
}
/* '' */
.icon-heart:before {
  content: '\e80c';
}
/* '' */
.icon-note:before {
  content: '\e802';
}
/* '' */
.icon-key:before {
  content: '\e829';
}
/* '' */
.icon-edit:before {
  content: '\e830';
}
/* '' */
.icon-check:before {
  content: '\e813';
}
/* '' */
.icon-cancel:before {
  content: '\e814';
}
/* '' */
.icon-cancel-circled:before {
  content: '\e817';
}
/* '' */
.icon-lock-1:before {
  content: '\e824';
}
/* '' */
.icon-lock-filled:before {
  content: '\e825';
}
/* '' */
.icon-lock-open-1:before {
  content: '\e826';
}
/* '' */
.icon-lock-open-filled:before {
  content: '\e827';
}
/* '' */
.icon-user-add-outline:before {
  content: '\e81e';
}
/* '' */
.icon-user-add:before {
  content: '\e81f';
}
/* '' */
.icon-user-delete-outline:before {
  content: '\e820';
}
/* '' */
.icon-user-delete:before {
  content: '\e821';
}
/* '' */
.icon-chat:before {
  content: '\e81d';
}
/* '' */
.icon-login:before {
  content: '\e819';
}
/* '' */
.icon-logout:before {
  content: '\e818';
}
/* '' */
.icon-signal:before {
  content: '\e831';
}
/* '' */
.icon-twitter:before {
  content: '\f099';
}
/* '' */
.icon-facebook:before {
  content: '\f09a';
}
/* '' */
.icon-gplus:before {
  content: '\f0d5';
}
/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}
/* '' */
.icon-bell-alt:before {
  content: '\e822';
}
/* '' */
.icon-star-half-alt:before {
  content: '\e809';
}
/* '' */
.icon-chart-bar:before {
  content: '\e82d';
}
/* '' */
.icon-headphones:before {
  content: '\e812';
}
/* '' */
.icon-thumbs-up:before {
  content: '\e81c';
}
/* '' */
.icon-thumbs-down:before {
  content: '\e81b';
}
/* '' */
.icon-user:before {
  content: '\e801';
}
/* '' */
.icon-floppy:before {
  content: '\e81a';
}
/* '' */
.icon-chart-line:before {
  content: '\e82f';
}
/* '' */
.icon-chart:before {
  content: '\e82c';
}
/* '' */
.icon-chart-bar-1:before {
  content: '\e82e';
}
/* '' */
.icon-upload:before {
  content: '\e80d';
}
/* '' */
.icon-download:before {
  content: '\e80e';
}
/* '' */
.icon-volume-off:before {
  content: '\e80f';
}
/* '' */
.icon-volume-down:before {
  content: '\e810';
}
/* '' */
.icon-volume-up:before {
  content: '\e811';
}
/* '' */
.icon-search:before {
  content: '\e82a';
}
/* '' */
.icon-key-inv:before {
  content: '\e828';
}
/* '' */
.icon-lock:before {
  content: '\e816';
}
/* '' */
.icon-lock-open:before {
  content: '\e815';
}
/* '' */
.icon-bell:before {
  content: '\e823';
}
/* '' */

// STYLES

html{
  height: 100%;
}

body {
  font: 16px Lato,'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #eeece4;
  background-image: url('../img/background.jpg');
  //background-image: url('../img/4.jpg');
  background-size: cover;
  background-position: fixed;
}

a{
  text-decoration: none;
  color: #fff;
}

h1, h2, h3,p,span, label{
  margin-top: 0;
  font-weight: normal;
  color: #fff;
}

ul{
  padding: 0;
  li{
    list-style-type: none;
  }
}

#top{
  height: 3em;
}
header {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;

  -moz-box-shadow: 0 1px 1px #888888;
  -webkit-box-shadow: 0 1px 1px #888888;
  box-shadow: 0 1px 1px #888888;
  margin-bottom: 2em;
  margin-top: 0;
  text-shadow: 0 1px 1px #888888;
  h1 {
    float: left;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0.5em;
    box-sizing: border-box;
    font-weight: normal;
    text-transform: uppercase;
  }
  nav {
    box-sizing: border-box;
    float: left;
    width: 70%;
    height: 100%;
    margin: 0;
    li {
      display: inline-block;
      line-height: 1.5em;
      margin: 0.3em;
      -webkit-transition: .5s all;
      -webkit-transition-delay: 5s;
      -moz-transition: .5s all;
      -moz-transition-delay: 5s;
      -ms-transition: .5s all;
      -ms-transition-delay: 5s;
      -o-transition: .5s all;
      -o-transition-delay: 5s;
      transition: .5s all;
      transition-delay: 5s;
    }
  }
}
#main-menu {
  float: left;
  width: 50%;
  margin: 0;
  padding-left: 0;
  text-align: center;
}
#login {
  float: right;
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  margin: 0;
  padding: 0 1em 0 0;
}
#main{
  margin: 4em 1em 2em;
  clear: both;
}
.wrapper{
  margin-top: 0;
}

.container{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  //background-color: rgba(255,255,255,0.5);
  -moz-box-shadow: 0 1px 1px #000;
  -webkit-box-shadow: 0 1px 1px #000;
  box-shadow: 0 1px 1px #000;
  .error{
    color: yellow;
    background-color: red;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
  }
}
.content-box{
  clear: both;
  background-color: #fff;
  color: #888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-sizing: border-box; 
  h3{
    background-color: #f1f1f1;
    color: #888;
    padding: 0.5em;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin: 0;
  }
  .nothing{
      font-size: 2em;
      text-align: center;
      padding: 0.5em;
      color: #aaa;
  }
}
.usernameclass{
  color: #fff !important;
}
.success{
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.5em;
  text-align: center;
    color: #58b258; 
  p{
      color: #58b258; 
  } 
}
.error{
  padding: 0.5em;
  color: red;
}
.centered{
  width: 70%;
  height: 24em;
  margin: auto;
}

#loginform, #registerform{
  width: 55%;
  margin: 0;
  box-sizing: border-box;
  float: right;
  p{
    margin: 0.5em 0;
  }
  label{
    display: block;
    width: 55%;
    float: left;
    padding: 0.5em 0;
  }
  input{
    color: #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
    border: none;
    padding: 0.5em;
  }
}
.submission{
  text-align: right;
  input{
    width: 50%;
    background-color: #58b258;
    color: #fff !important;
  }
}

#socialconnect{
  width: 45%;
  
  float: left;
  ul{
    margin-top: 0;
  }
  li{
    display: block;
    width:62%;
    margin-bottom: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;   
    padding: 0.5em 0;
    a{
        display: block;
        width: 100%;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 0.6em;
    } 
  }
}

#tw_login_link
{
  margin-bottom: 1em;
  a{
    background-color: #4099FF;
  }
} 

#fb_login_link{
  margin-bottom: 1em;
   a{
    background-color: #3B5998;
  }
}

#ggl_login_link{
  margin-bottom: 1em;
  a{
    background-color: #db5a3c;
  }
} 


footer{
  clear: both;
  p{
    margin:1em 0;
    text-align: center;

  }
}

// DASHBOARD
#dashboard h2{
  padding: 0.5em;
  color: #000;
}
#usermenu {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  padding-left: 0;
  text-align: right;
  margin-top: 0.2em;
}
#HeaderLogin {
  text-align: right;
  background-color: rgba(0,0,0,0.5);
}
#HeaderLogin ul {
  padding-left: 0;
}
#usermenu li .account {
  display: none;
}
#usermenu li:hover .account {
  display: block;
  width: 180px;
}
.user-info {
  margin: 0 0 0.8em 0;
}
.user-info li {
  height: 1em;
}
.user-info a {
  display: block;
  width: 100%;
  font-size: 0.8em;
  &:hover{
    background-color: rgba(255,255,255,0.5);
  }
}

.userpict{
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  margin: 0;
        padding-top: 1em;
  img{
      width: 8em;
      background-color: #fff;
      padding: 0.1em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
}

.leftcontent{
    width: 20%;
    margin: 0;
    float: left;
}

.rightcontent{
  width: 80%;
  margin: 0;
    padding: 1em;
  float: right;
  background-color: rgba(255,255,255,0.7);
  box-sizing: border-box;
  color: #000;
}


.userlinks{
  margin: 0;
  h3{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding:0 1em 0.5em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  li{
    background-color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1em;
    a{
        display: block;
        padding: 1em;
        text-shadow: none;
        color: #fff;
        &:hover{
          background-color: rgba(0,0,0,0.3);
        }
    }
    &:last-child{
          border-bottom: none;
    }
  }
}

#stats{
  width: 90%;
  margin: 1em auto;
  caption h1{
    color: #aaa;
    margin: 1em 0;
  }
  th{
    text-align: left;
  }
  tr{
    margin: 0.5em 0;
  }
  a{
    color: #000;
  }
}

#dashboardmain{
  margin: 4em 0 2em;
  clear: both;
}


#signupok{
  .success{
    font-size: 1.5em;
  }
  .bloc{
    margin: 1em 0;
  }
  form{
    width: 80%;
    margin: 0 auto;
  }
  label{
    color: #000;
    display: block;
    width: 30%;
    float: left;
  }
}

#firstlogin{
  padding: 0.5em;
  background: #45983e;
  border: none;
  color: #fff;
}

section.play_border {
clear: both;
width: 30%;
float: left;
}

// FORMULAIRE DE CONNEXION


#signformcontainer{
    width: 70%;
    margin: 6em auto;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    .top{
        padding: 2.571em 4.286em 2.143em;
    }
    .formtitle{
        font-size: 1.5em;
    }
    .socialconnect{
        width: 32%;
        float: left;
        li{
            border-radius: 2px;
            margin-bottom: 1em;
            a{
                border-radius: 2px;
                display: block;
                padding: 0.8em;
                color: #fff;
                &:hover{
                    opacity: 0.9;
                }
            }
        }
        span{
            font-size: 1.2em;
        }
    }
    .or{
        
        float: left;
        padding: 5.5em 2em;
        margin-top: 1em;
        span{
            padding: 0.429em;
            font-size: 2em;
            color: #aaa;
        }
    }
    .formcontainer{
        width: 53%;
        float: right;
        margin-top: 1em;
        border-box: box-sizing;
        .formfield{
            width: 100%;
            clear: both;
            border-box: box-sizing;
            margin-bottom: 1em;
        }
        .labelfield{
            width: 40%;
            float: left;
            padding: 0.5em 0;
            label{
                font-size: 1.5em;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
        .inputfield{
            input{
                width: 54%;
                border: 1px solid #b9c1c7;
                padding: 0.8em;
                border-radius: 2px; 
            }
        }
        .submitfield{
            input{
                margin-left: 40%;
                width: 59.5%;
                padding: 0.8em;
            }
        }
        .checklabel{
            float: left;
            text-align: right;
            margin-right: 1em;
            margin-left: 65%;
        }
        .checkfield{
            text-align: right;
        }
        .forgot{
            text-align: right;
            margin-top: -1em;
            a{
                margin-left: 2em;
            }
        }
        .alreadysign{
            text-align: right;
        }
    }
}

